body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.container {
  justify-content: center;
  align-items: center;
  width: 70vw;
  height: auto;
  display: flex;
 flex-direction: row;
}

.part {

  border: none;
  margin: 1px;
  padding: 10px;
  background-color: #f2f2f2;
  height: 20px;
}

.inputField {
  border-radius: 6px}

  
  @media only screen and (max-width: 770px) {
    .container  {
        width: 81vw;
    }
  }
  @media only screen and (max-width: 680px) {
    .container  {
        width: 90vw;
    }
  }
  @media only screen and (max-width: 630px) {
    .container {
      font-size: 15px;
    }
  }
  @media only screen and (max-width: 540px) {
    .container {
      font-size: 14px;
    }
  }
  @media only screen and (max-width: 490px) {
    .container {
      font-size: 13px;
    }
  }
  @media only screen and (max-width: 420px) {
    .container {
      margin-left: 5px;
      font-size: 12px;
      width: 94vw;
    }
  }
  @media only screen and (max-width: 270px) { 
    .container {
      margin-left: 13px;
      font-size: 11px;
      width: 89vw;
    }
    }
  